<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

    <resultMap id="UserResultMap" type="xin.jerome.mybatis.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username" javaType="java.lang.String"/>
        <result property="password" column="password" javaType="java.lang.String"/>
    </resultMap>

    <select id="selectOneUser" parameterType="int" resultMap="UserResultMap">
        SELECT id,username,password FROM user WHERE id = #{id}
    </select>
</mapper>